<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arena|MWD</title>
    <script src="/static/js/socket.io.js"></script>
    <script defer src="/static/js/UI.js"></script>
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="stylesheet" href="/static/css/arena.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
</head>
<body>
    <div class="topnav">
        <div class="barner">
            <h3 class="title" id="username">Username</h3>
        </div>
        <div class="links">
            <h3 class="title" id="oponentname">Opponent</h3>
        </div>
    </div>
    <section class="full arena">
        <div class="container">
            <div class="board" id="board">
                <!--<button class="box" data-btnNum="9"></button>-->
            </div>
            <div class="chat">
                <div class="handle">
                    <h3 class="title oponent">Name</h3>
                    <small id="status"></small>
                </div>
                <div class="messages" id="messages">
                    <div class="message m_right"><div class="text_bubble right">Hae I am right</div></div>
                    <div class="message m_left"><div class="text_bubble left">Hello there I am left</div></div>
                </div>
                <div class="input">
                    <input type="text" class="input" placeholder="Type here ..." id="input">
                    <button class="send" onclick="sendMessage()"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/js/arena.js"></script>
</body>
</html>