<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arena|MWD</title>
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="stylesheet" href="/static/css/arena.css">
</head>
<body>
    <div class="topnav">
        <div class="barner">
            <h3 class="title">Username</h3>
        </div>
        <div class="links">
            <h3 class="title">Opponent</h3>
        </div>
    </div>
    <section class="full arena">
        <div class="container">
            <div class="board">
                <button class="box" data-btnNum="9"></button>
                <button class="box" data-btnNum="8"></button>
                <button class="box" data-btnNum="7"></button>
                <button class="box" data-btnNum="6"></button>
                <button class="box" data-btnNum="5"></button>
                <button class="box" data-btnNum="4"></button>
                <button class="box" data-btnNum="3"></button>
                <button class="box" data-btnNum="2"></button>
                <button class="box" data-btnNum="1"></button>
            </div>
            <div class="chat">
                <div class="handle">
                    <h3 class="title oponent"></h3>
                </div>
                <div class="messages" id="messages"></div>
                <div class="input">
                    <input type="text" class="input" placeholder="Send">
                    <button class="send">Send</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>