<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M.W.D</title>
    <script src="/static/js/socket.io.js"></script>
    <script defer src="/static/js/UI.js"></script>
    <link rel="shortcut icon" href="/static/images/icon_2.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/shared.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/index.css"/>
    <style lang="csss">
        .landing{
            background-image: url('/static/images/tic_tac_toe_bg.png');
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
        }
        i.fa-times{
            font-size: 30px;
            color:crimson;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <div class="barner">
            <h3 class="title">M.W.D</h3>
        </div>
        <div class="actions">
            <button class="small" onclick="switchTheme()">Theme</button>
        </div>
    </div>
    <div class="full landing">
        <div class="container">
            <img src="/static/images/icon_2.png" height="100px" width="auto" alt="icon"/>
            <header>
                <h3 class="big_text" id="numbers"><%= players%></h3>
                <h2>members are online</h2>
            </header>
            <button onclick="join()" class="button big">Join</button>
        </div>
    </div>

    <div class="player_form" id="player_form">
        <img class="signup" src="/static/images/pencil.svg" height="200px" width="auto"/>
        <label for="playername">Your player name</label>
        <input id="playername" type="text" name="playername" class="input" placeholder="Player name..."/>
        <button id="button" class="button big" disabled>Play</button>
        <br/><i onclick="formclear()" class="fa fa-times"></i><br/>
    </div>
    <div class="cover" onclick="formclear()"></div>
    <div class="full contacts">
        <div class="container">
            <div class="contact_data">
                <h4>Developer Contacts</h4>
                <table>
                    <tr>
                        <td><i class="fab fa-github"></i></td><td>kaigikinyua</td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-instagram"></i></td><td>@tonny_macoin</td>
                    </tr>
                    
                    <tr>
                        <td><i class="fab fa-twitter"></i></td><td>@tonny_macoin</td>
                    </tr>
                </table>
            </div>
            <div class="img" style="background-image: url('/static/images/contacts.svg');"></div>
        </div>
    </div>
    
    <script >
        const baseUrl="https://antonytictac.herokuapp.com";

        setTimeout(()=>{
            var d=document.querySelector("section.landing");
            //console.log(d)
           // d.style.backgroundImage="/static/images/tic_tack_toe_bg.png";
           // d.style.background="transparent";
        },3000);


        var form=document.getElementById("player_form");
        var cover=document.querySelector('.cover')
        var playernameInput=document.getElementById('playername')
        var btn=document.getElementById("button")
        var username=""
        playernameInput.addEventListener('keyup',(e)=>{
            var username=playernameInput.value
            if(username.length>0){
                btn.disabled=false
            }else{
                btn.disabled=true
            }
        })
        btn.addEventListener('click',(e)=>{
            var f_name=playernameInput.value
            if(f_name.length>0){
                //store the username in the IndexDb
                console.log(f_name)
                post({"playername":f_name},(data)=>{
                    if(data.state=="success"){
                        localStorage.setItem("username",f_name)
                        localStorage.setItem("id",data.id)              
                        window.location.replace(baseUrl+"/players")
                    }
                })
            }else{
                //emitt error
                console.log("Fill the username")
            }
        })
        function post(dataToSend,callback){
            fetch(baseUrl+"/",{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({"playername":dataToSend.playername})
            })
            .then(response=>response.json())
            .then(data=>callback(data))
            .catch(error=>{
                console.error("Error: "+error)
                console.error("Could not send post request\n"+this.url+"\n"+dataToSend.playername)
            })
        }
        function join(){
            cover.style.display="block";
            form.style.display="block";
        }
        function formclear(){
            cover.style.display="none";
            form.style.display="none";
        }
        var socket=io.connect(baseUrl)
        setInterval(()=>{
            socket.emit("updatenumber",null);
        },5000)
        socket.on("newnumbers",(data)=>{
            var numbers=document.getElementById("numbers")
            numbers.innerHTML=data;
        })
    </script>
</body>
</html>