<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Players</title>
    <link rel="stylesheet" href="/static/css/shared.css">
</head>
<body>
    <div class="topnav">
        <div class="barner">
            <h3 class="title">M.W.D</h3>
        </div>
        <div class="actions">
            <button>Theme</button>
        </div>
    </div>
    <div class="players">
        <div class="container">
            <% for (player in players){%>
                <div class="player">
                    <div class="avatar"><%=player[0]%></div>
                    <div class="playername"><%=player%></div>
                </div>
            <%}%>
        </div>
    </div>
</body>
</html>