@import './global.scss';
:root{
    --white:whitesmoke;
    --dark:#263238;
    --blue1:#2979ff;
    --blue2:#01579b;
}

.light{
    --bg:var(--white);
    --text:var(--dark);
    --highlight_elem:var(--blue1);
    --hightlight_col:var(--white);
    --input:lightgray;
    --input_text:var(--dark);
}
.dark{
    --bg:var(--dark);
    --text:var(--blue1);
    --highlight_elem:var(--blue1);
    --highlight_col:var(white);
    --input:var(--blue2);
    --input_text:var(--dark);
}
div.container{
    position: relative;
    width: 100vw;
    max-width: 100vw;
    max-height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.board{
    position: relative;
    @include middle;
    max-width: 340px;
    max-height: 340px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    button{
        height:100px;
        width:100px;
        margin:5px;
        font-size: 50px;
    }
}
div.endGame{
    position: absolute;
    font-size: 50px;
    text-align: center;
    padding-top:50px;
    height:100%;
    width:100%;
    background:rgba(10,10,10,0.7);
    font-family: monospace;
    letter-spacing: 2px;
    img.image{
        position: relative;
        width:100%;
        height:200px;
    }
}

div.chat{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 80vh;
    margin-top:20px;
    border-left:1px solid var(--text);
    border-right:1px solid var(--text);
    div.handle{
        flex:1;
        background:#2979ff;
        padding:10px;
        color:white;
    }
    div.messages{
        flex:5;
        background:var(--bg);
    }
    div.input{
        flex:1;
        background:var(--input);
        text-align: center;
    }
}
input.input{
    background:var(--bg);
    color:lightgray;
    border-radius: 10px;
    font-size: 18px;
    color:black;
}
input.input::placeholder{
    color:#263238;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 18px;
}
button.send{
    background:transparent;
    border:2px solid #2979ff;
    color:#2979ff;
    height:40px;
    width:40px;
    padding:5px;
    font-size: 20px;
    border-radius: 50%;
    transition: 1s;
}
button.send:hover{
    background:#2979ff;
    border:2px solid #2979ff;
    color:white;
}

div.messages{
    overflow-x:hidden;
    overflow-y:scroll;
    padding:5px;
    div.message{
        position: relative;
        margin-top:20px;
        margin-bottom: 10px;
        p.text_bubble{
            position: relative;
            //width: auto;
            padding:10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            line-height: 20px;
            display: inline-block;
        }
    }
    .m_right{
        margin-left: 20%;
        text-align: right;
        p.text_bubble{
            background: var(--blue1);
            border-bottom-left-radius: 10px;
        }
    }
    .m_left{
        margin-right: 20%;
        p.text_bubble{
            background: var(--blue2);
            border-bottom-right-radius: 10px;
        }
    }
    .right{
        position: relative;
        //background:var(--blue1);
        color:white;
        //border-bottom-left-radius: 10px;
        //text-align: right;
        //display: inline;
        //padding:10px;
    }
    .left{
        //background:var(--blue2);
        color:white;
        //border-bottom-right-radius: 10px;
        //text-align: left;
        //display: inline;
    }
}



@media only screen and (max-width:800px){
    div.container{
        display: block;
        height:100vh;
        box-shadow: none;
    }
    div.board{
        @include center_h;
        top:70px;
    }
    div.chat{
        position: fixed;
        @include center_h;
        bottom:-80%;
        width:100vw;
    }
}