:root {
  --white:whitesmoke;
  --dark:#263238;
  --blue1:#2979ff;
  --blue2:#01579b;
}

:root {
  --white:whitesmoke;
  --dark:#263238;
  --blue1:#2979ff;
  --blue2:#01579b;
}

.light {
  --bg:var(--white);
  --text:var(--dark);
  --highlight_elem:var(--blue1);
  --hightlight_col:var(--white);
  --input:lightgray;
  --input_text:var(--dark);
}

.dark {
  --bg:var(--dark);
  --text:var(--blue1);
  --highlight_elem:var(--blue1);
  --highlight_col:var(white);
  --input:var(--blue2);
  --input_text:var(--dark);
}

div.container {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  max-height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

div.board {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 340px;
  max-height: 340px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

div.board button {
  height: 100px;
  width: 100px;
  margin: 5px;
  font-size: 50px;
}

div.endGame {
  position: absolute;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  background: rgba(10, 10, 10, 0.7);
  font-family: monospace;
  letter-spacing: 2px;
}

div.chat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  height: 80vh;
  margin-top: 20px;
  border-left: 1px solid var(--text);
  border-right: 1px solid var(--text);
}

div.chat div.handle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: var(--input);
}

div.chat div.messages {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background: var(--bg);
}

div.chat div.input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: var(--input);
  text-align: center;
}

input.input, button.send {
  padding: 10px 5px;
  border: 1px solid transparent;
}

input.input {
  background: var(--bg);
  color: var(--text);
}

input.input::-webkit-input-placeholder {
  color: var(--text);
}

input.input:-ms-input-placeholder {
  color: var(--text);
}

input.input::-ms-input-placeholder {
  color: var(--text);
}

input.input::placeholder {
  color: var(--text);
}

button.send {
  background: var(--highlight_elem);
}

div.messages {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
}

div.messages div.message {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.messages div.text_bubble {
  position: relative;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.messages .m_right {
  text-align: right;
}

div.messages .m_left {
  text-align: left;
}

div.messages .right {
  background: var(--blue1);
  color: white;
  border-bottom-left-radius: 10px;
  text-align: right;
  display: inline;
}

div.messages .left {
  background: var(--blue2);
  color: white;
  border-bottom-right-radius: 10px;
  text-align: left;
  display: inline;
}

@media only screen and (max-width: 800px) {
  div.container {
    display: block;
    height: 100vh;
  }
  div.board {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 70px;
  }
  div.chat {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -80%;
    width: 100vw;
  }
}
/*# sourceMappingURL=arena.css.map */