@import './global.scss';
//color themes
:root{
    --white:whitesmoke;
    --dark:#263238;
    --blue1:#2979ff;
    --blue2:#01579b;
}

.light{
    --bg:var(--white);
    --text:var(--dark);
    --highlight_elem:var(--blue1);
    --hightlight_col:var(--white);
    --input:lightgray;
    --input_text:var(--dark);
}
.dark{
    --bg:var(--dark);
    --text:var(--blue1);
    --highlight_elem:var(--blue1);
    --highlight_col:var(white);
    --input:var(--blue2);
    --input_text:var(--dark);
}
//landing
.landing{
    background: var(--bg);
    color:var(--text);
    div.container{
        text-align: center;
        max-width: 400px;
    }
}

.player_form{
    position: fixed;
    display: none;
    @include middle;
    z-index: 11;
    padding:20px;
    min-width: 300px;
    background:white;
    color:#2979ff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 20px 20px 20px 20px rgba(10,10,10,0.5);
    label{
        font-size: 20px;
    }
}
label{
    display: block;
    margin-bottom: 10px;
}
input.input{
    display: block;
    position: relative;
    width: 90%;
    padding:10px;
    background:var(--input);
    color:var(--input_text);
    border-bottom: 1px solid var(--blue2);
    @include center_h;
}
input.input::placeholder{
    color:var(--input_text);
}

div.contacts{
    background:#2979ff;
    color:white;
    div.container{
        box-shadow: none;
        background:transparent;
        min-height: 70%;
        min-width: 80%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        h4{
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: lighter;
            margin-bottom:20px;
        }
        table{
            color:white;
            font-size: 20px;
            letter-spacing: 2px;
            td{
                padding:10px;
            }
        }
    }
    div.img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}