@import './global.scss';
//color themes
:root{
    --white:whitesmoke;
    --dark:#263238;
    --blue1:#2979ff;
    --blue2:#01579b;
}

.light{
    --bg:var(--white);
    --text:var(--dark);
    --highlight_elem:var(--blue1);
    --hightlight_col:var(--white);
}
.dark{
    --bg:var(--dark);
    --text:var(--blue1);
    --highlight_elem:var(--blue1);
    --highlight_col:var(white);
}



//landing
.landing{
    background: var(--bg);
    color:var(--text);
    div.container{
        text-align: center;
    }
}

.player_form{
    position: fixed;
    display: none;
    @include middle;
    z-index: 11;
    padding:10px;
    min-width: 300px;
    background:var(--highlight_elem);
    color:var(--highlight_col);
    border-radius: 10px;
    text-align: center;
    label{
        font-size: 20px;
    }
}
label{
    display: block;
    margin-bottom: 10px;
}
input.input{
    display: block;
    position: relative;
    width: 90%;
    padding:10px;
    background:lightslategray;
    border-bottom: 1px solid var(--blue2);
    @include center_h;
}