@import './global.scss';
div.players{
    div.container{
        position: relative;
        max-height: 90%;
        overflow-y:scroll;
    }
}


div.player{
    position: relative;
    margin:10px 5px;
    display: flex;
    div.avatar{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background:purple;
        color:white;
        text-transform: uppercase;
        font-family: monospace;
        text-align: center;
        div.let{
            position: relative;
            @include center_v;
            font-size: 20px;
        }
    }
    div.playername{
        text-transform: capitalize;
        padding:10px;
    }
}