@import './global.scss';

//color themes
:root{
    --white:whitesmoke;
    --dark:#263238;
    --blue1:#2979ff;
    --blue2:#01579b;
    --shadow_black:rgba(10,10,10,0.5);
    --shadow_blue:rgba(50,50,200,0.6);
}

.light{
    --bg:var(--white);
    --text:var(--dark);
    --highlight_elem:var(--blue1);
    --hightlight_col:var(--white);
    --shadow:var(--shadow_black);
}
.dark{
    --bg:var(--dark);
    --text:var(--blue1);
    --highlight_elem:var(--blue1);
    --highlight_col:var(white);
    --shadow:var(--shadow_blue);
}

*{
    padding:0px;
    margin:0px;
}

html{
    overflow-x:hidden;
}
body{
    background:var(--bg);
}

div.topnav{
    position: fixed;
    top:0px;left:0px;
    width:100vw;
    z-index: 10;
    max-height: 100px;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:var(--bg);
    box-shadow: 1px 1px 10px 10px var(--shadow);
    color:var(--text);
    transition: background 0.5s ease-in-out,color 1s ease-in-out;
}

.full{
    position: relative;
    height: 100vh;
}
.container{
    position: relative;
    max-width: 70%;
    @include middle;
    padding:10px;
}

//cover
div.cover{
    position: fixed;
    z-index: 10;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    background:rgba(10,10,10,0.5);
    display: none;
}
//inputs and buttons
input,button,.button{
    outline:none;
    padding:10px;
    border:none;
    margin:10px 0px;
    background: var(--highlight_elem);
    color:var(--white);
}
    //buttons
    button.big,input.big{
        position: relative;
        width:90%;
        font-size: 20px;
    }



//text elements
    .title{
        font-weight: lighter;
        font-size: 25px;
    }
    .big_text{
        font-weight: bolder;
        font-size: 30px;
    }